[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"uvicorn" = "*"
"fastapi" = "*" 
"pydantic" = "*"
"annoy" = "*"
"openai" = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
query = "./run.sh query"
store = "./run.sh store"
run = "./run.sh run"
start-backend = "./run.sh start-backend"
stop-backend = "./run.sh stop-backend"

